
.nav_inner{
    display:flex;
    justify-content: space-around;
    align-items: center;
   /* display:grid;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   align-items: center; */
} 

.logo_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
   
}

.hire_me{
    width: fit-content;
    height: fit-content;
}

.nav_links{
     display: flex;
    align-items: center;
   justify-content: center; 
   gap: 1.5rem;
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color: grey;   
}

li a:hover{
    text-decoration: underline;   
}


.brand_name h2{
   font-size: 2rem;
}