*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-style: normal;
}

/* MEDIA SCREEN

    @media screen and (max-width: 400px) {

    }
      @media screen and (min-width: 576px) {

    }
      @media screen and (min-width: 992px) {

    }
      @media screen and (min-width: 1200px) {

    }
*/

body {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}

/* NAV SECTION */

.nav_inner {
  width: 100%;
  padding: 1.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.hire_me {
  width: fit-content;
  height: fit-content;
}

.sad {
  display: none;
}

.nav_links {
  display: none;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: grey;
}

li a:hover {
  text-decoration: underline;
}

.brand_name h2 {
  font-size: 1.8rem;
  font-weight: 800;
}

.hamburger {
  display: block;
}

/* HERO SECTION */
.hero_sec {
  padding: 1rem;
}

.hero_inner {
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: space-around;
  gap: 1rem;
}

/* HERO LEFT */

.hero_left {
  width: 100%;
  max-width: 30rem;

  /* max-width: 39.4375rem; */
}

.hero_left_inner {
  display: grid;
  gap: 1.5rem;

  /* gap: 2.25rem; */
  /* padding-top: 5rem; */
}

/* HERO RIGHT */

.hero_right {
  display: none;
}

.hero_right img {
  width: 100%;
  height: 25.4375rem;
}

.hero_left_header h2 {
  color: #d05270;
  font-family: Montserrat;
  font-size: 2rem;
  /* font-size: 1.25rem; */
  font-style: normal;
  font-weight: 700;
  line-height: 2;
}

.hero_left_header p {
  color: #424242;
  font-family: Montserrat;
  /* font-size: 1.25rem; */
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero_left_quotes {
  color: #424242;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.hero_left_btn_sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.hero_left_btn_sec button {
  width: 6.2rem;
  height: 2.62913rem;
  flex-shrink: 0;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
  font-family: Montserrat;
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero_left_btn_sec button:first-child {
  background: #47acdf;
}

.hero_left_btn_sec button:nth-child(2) {
  background: #1275b1;
}

.hero_left_btn_sec button:nth-child(3) {
  background: #000000;
}

@media screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }

  .nav_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .logo_sec {
    gap: 1rem;
  }

  .brand_name h2 {
    font-size: 2.2rem;
  }
  .sad {
    display: inline-block;
  }

  .nav_inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .hero_sec {
    padding: 1rem;
  }

  .hero_inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero_left {
    width: 100%;
    max-width: 40rem;
  }

  .hero_left_inner {
    display: grid;
    gap: 2.25rem;
    padding-top: 5rem;
  }

  .hero_right {
    display: block;
  }

  .hero_left_header h2 {
    color: #d05270;
    font-family: Montserrat;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .hero_left_header p {
    color: #424242;
    font-family: Montserrat;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .hero_left_quotes {
    color: #424242;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .hero_left_btn_sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.12rem;
  }

  .hero_left_btn_sec button {
    width: 12.5625rem;
    height: 3.75rem;
    flex-shrink: 0;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.88rem;
    color: #fff;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0.25rem;
  }

  .hero_left_btn_sec button:first-child {
    background: #47acdf;
  }

  .hero_left_btn_sec button:nth-child(2) {
    background: #1275b1;
  }

  .hero_left_btn_sec button:nth-child(3) {
    background: #000000;
  }
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 90%;
  }
}
